<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyBase - Let the Music Flow in Blood</title>
  <link rel="stylesheet" href="/static/css/website.css">
  <link rel="stylesheet" href="/static/css/aboutus.css">
  <link rel="icon" href="/static/img/logo.ico">
</head>

<body>
  {% include 'navbar.html' %}


  <div class="aboutus">
    <!--Only Base Description-->
    <section id="aboutus">
      <div class="aboutus-text">
        <h1>ONLY BASE</h1>
        <p>Only base not just a website but a complete track for successful feature we not just provide a music
          instrument
          but a way to achieve your dreams . </p>
        <p>We focus on providing all the resources which are required to achieve your goals through music only base
          works
          in 3 different level first all music
          lovers can find there dream instrument on our website and then you are provided with all the resources
          required
          to learn the instrument but that's what all the other websites
          do but not us we are different because we will not leave you alone at the most difficult time of your music
          journey we provide all the resources and support required to make a successful career out of your passion</p>
        <p>
          Learning music is a great way to develop a fun and relaxing hobby that also stimulates your mind. wether you
          are intrested in music theory or playing an instrument ,
          music is actully very easy to learn than one might think!!
          Once you have mastered the basics, all you have to do is practic a bit of more complicated stuff everyday,
          until you have gotten a pretty good handle on your instrument or music theory.
        </p>

        <p>
          We over Only base are on the journey to spread joy through music and making it accesible to everyone who
          wishes to learn it in a flexible way that to
          with experienced coaches and certified instruments which will help you carve a carreer out of it. We are are a
          web-based suite of music education tools and instuments.
          We realize that nowadays students have a lot to balance and that alone will not allow them to pick up music,
          but worry we realize this and our cordinator will create a progrome
          which will be especially be stucture d to your needs.
        </p>

        <p>
          we are available in 60 + cities and are providing 1000+ videos for better learning experience. the music feild
          has 300 + career options
        </p>

        <p>
          here at only base we want our students to enjoy the journey and learn something meaningful
          one can also avail a special student price for limited time .
        </p>

        <p>
          we are also experimenting with a web based interactive model which will provide a hand on experience with the
          use of a gesture controlled simulation
        </p>
      </div>
    </section>
  </div>


  {% include 'footer.html' %}
</body>

</html>