<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnlyBase - Let the Music Flow in Blood</title>
    <link rel="stylesheet" href="/static/css/career.css">
    <link rel="icon" href="/static/img/logo.ico">

</head>

<body>
    {% include 'navbar.html' %}
    <hr>
    <h1>Here are some tutorial links</h1>
    <div class="mainvdo">
        <div class="ytvdo">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/QBH6IpRkVDs"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <iframe width="500" height="300" src="https://www.youtube.com/embed/BBz-Jyr23M4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="ytvdo">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/TFcqdnz_6_k"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

            <iframe width="500" height="300" src="https://www.youtube.com/embed/AeY871aeq7A"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
    <hr>
    <div class="container-1">
        <div class="box consulants">
        <div class="content">
            <h1>Our Consultants</h1>
            <h2>Honey Singh</h2>
            <div class="individual">
                <img class="img2" src="/static/img/consultants1.webp" alt="Consultant">
                <p>
                    Singh prefers to sing in Hindi and his native language Punjabi rather than English.
                    The Punjabi album International Villager was released on 11 November 2011.
                    The track "Gabru" from the album, featuring singer J-Star, topped the Asian music charts,
                    including the
                    official BBC Asian charts.
                    He has performed at many college festivals, including Ansal Institute of Technology and Ramjas
                    College,
                    Delhi.
                    Singh and Diljit Dosanjh's song "Lak 28 Kudi Da" reached number one in the BBC Asian Download
                    Charts in
                    May
                    2011.
                    The song was released as a promotional track for Dosanjh's film Lion of Punjab.
                    It was reported that he was paid the highest fee ever for a Bollywood song (as of 2012) of ₹7
                    million
                    (US$88,000)
                    for a song in the films Cocktail and Mastan.
                    Singh topped the chart of trending videos of 2012.
                    He earned two places on YouTube's list of top 10 trending videos of 2012. His song "Brown Rang"
                    made it
                    to
                    the top spot. "High Heels", in collaboration with Jaz Dhami, took the fourth spot.
                    <b>Most popular and influential song: VOLUME 1</b>
                </p>
            </div>
            <hr>
            <h2>Badshah</h2>
            <div class="individual">

                <img class="img2" class="right" src="/static/img/consultants2.webp" alt="Consultant">
                <p>
                    He started his career in the music industry with the name "Cool Equal", but then changed his
                    name to Badshah.
                    He further is known for his catchphrase "it's your boy Badshah", often stylized as "Ish yo boy
                    Baad-uh-sh-aa-ah".
                    In 2018, Badshah released his first album O.N.E. Original Never Ends.
                    On 7 August 2020, the rapper released a classic pop and hip-hop album namely, 'The Power of
                    Dreams of a Kid' which had 8 tracks and includes
                    features from the artists namely Lisa Mishra, Sikander Kahlon, Fotty Seven, Bali and Music
                    Producer Andy Grewal.
                    The entire mastering and mixings of the album was done by Aditya Dev.
                </p>
            </div>
        </div>
        </div>
    </div>
    <div class="container-1">
        <div class="box events">

            <div class="content">
                <h1>Events</h1>
                
                <h2>Papan Live In Concert In Bengaluru and Pune!</h2>
                <div class="individual">
                    <p>
                        Singer, composer and multi-instrumentalist, Papon is one of the most sought after voices in
                        India
                        today. His training
                        in classical music and innovative experimentations in this field have made him an extremely
                        versatile artist. Papon
                        derives his influence from a wide array of sounds-from traditional folk to new age electronica.
                        A
                        sure stage
                        scorcher, he is bound to engage and enthrall the audience. Truly a name to reckon with in the
                        music
                        scene today.
                    </p>
                    <img class="img1" src="/static/img/event1.avif" alt="Show Poster">
                </div>
                <hr>
                <h2>Adnan Sami Live Concert</h2>
                <div class="individual">

                    <img class="img2" src="/static/img/event2.avif" alt="Show Poster">

                    <p>
                        Adnan Sami, an International acclaimed vocalist, composer, and pianist will present his popular
                        songs and regale
                        the audience with super-fast piano solos.

                        Presented by Sahachari Foundation Events

                        Supported by Tata Sons

                        Late entry will not be permitted
                    </p>
                </div>
                <hr>
                <h2>Supermoon</h2>
                <div class="individual">

                    <img class="img2" src="/static/img/event3.avif" alt="Event">
                    <p>
                        Watch Madhur Sharma LIVE at supermoon ft. Madhur Sharma on 12th december at dragonfly mumbai

                        Madhur Sharma is born and raised in the state of Bihar. With over 4.5
                        million monthly Spotify listeners, Madhur is one of India's biggest internet
                        sensations of 2022. As a singer, songwriter and composer, he has carved a name for himself,
                        courtesy
                        of some impactful musical pieces. Since
                        beginning his musical journey online, Madhur rose to fame with viral hits like "Kali Kali Zulfon
                        Ke", "Tere Jiya Hor Disda" and "Halka Halka Suroor"
                        these internet smashers have crossed more than 500M + views across all platforms. The star is
                        steadily growing
                        in popularity and has amassed 460k subscribers on youtube and 801k followers on Instagram.
                        Moreover,
                        his recent songs
                        "Roye Roye" with "Navika Kotia" and "Biba Sada dil" have become an online phenomenon and topped
                        everyone's playlists. Managed
                        by Pearl Talent, Madhur Sharma's sheer talent and heartwarming vocals have contributed to the
                        widespread recognition of his name
                        as an artist who elevates India pop, folk and spiritual songs in compelling releases and
                        stunning
                        live performances.
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>




    {% include 'footer.html' %}
</body>

</html>