<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyBase - Let the Music Flow in Blood</title>
  <link rel="stylesheet" href="/static/css/website.css">
  <link rel="stylesheet" href="/static/css/aboutus.css">
  <link rel="icon" href="/static/img/logo.ico">
</head>

<body>
  {% include 'navbar.html' %}


  <div class="aboutus">
    <!--Only Base Description-->
    <section id="aboutus">
      <div class="aboutus-text">
        <div class="rydeen">
          <img src="/static/img/rydeen.jpg" alt="rydeen">
        </div>
        <h1>RYDEEN</h1>
        <div class="text">
          <p>
            <b>2 size Variations (5-piece shell pack)</b> <br>
            RDP2F5(22”x16” bass drum /16”x15” floor tom/12”x8” tom tom/10”x7”tom tom/14”x5.5”snare drum/ tom
            clamp＜CL940LB＞
            x2)RDP0F5(20”x16” bass drum/14”x13”
            floor tom/12”x8” tom tom/10”x7”tom tom/14”x5.5”snare drum / tom clamp＜CL940LB＞ x2)
          </p>
        </div>
        <hr>
        <div class="text">
          <p>
            <b>Genuine Yahama tom and pipe clamps</b> <br>
            Two 22.2 mm diameter tom clamps, and a pipe clamp.A versatile ball mount gives you the freedom to mount toms
            at any
            angle you want, and lets you incorporate other hardware* to create a configuration that’s
            perfect for you.*Hardware must conform to the standard Yamaha 22.2 mm specification.
          </p>
        </div>

        <div class="featureimg">
          <img src="/static/img/feature1.webp">
          <img src="/static/img/feature2.webp">
          <img src="/static/img/feature3.webp">
          <img src="/static/img/feature4.webp">
        </div>
        <hr>

        <div class="text">
          <p>
            <b>P3 type Bass Drum Head</b> <br>
            The double film on the edge section provides a muting effect, for a tight, powerful bass drum sound.
          </p>
        </div>

        <div class="featureimg">
          <img src="/static/img/feature5.webp">
        </div>
        <hr>
      </div>
    </section>
  </div>


  {% include 'footer.html' %}
</body>

</html>