<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyBase - Let the Music Flow in Blood</title>
  <link rel="stylesheet" href="/static/css/website.css">
  <link rel="stylesheet" href="/static/css/login.css">
  <link rel="icon" href="/static/img/logo.ico">
</head>

<body>
  {% include 'navbar.html' %}

  <div class="center">
    <h1>Login</h1>
    {% if error %}
    <p id="error">{{ error }}</p>
    {% else %}
    <p id="error">Enter your credentials to login</p>
    {% endif %}
    <form method="post" action="{% url "index" %}">
      {% csrf_token %}
      <div class="txt_field">
        <input type="text" name="username" required>
        <span></span>
        <label>Username</label>
      </div>
      <div class="txt_field">
        <input type="password" name="psw" required>
        <span></span>
        <label>Password</label>
      </div>
      <div class="pass">Forgot Password?</div>
        <input type="submit" />
        <div class="signup_link">
          Not a member? <a href="/signup">Signup here</a>
        </div>
    </form>
  </div>

  <script type='text/javascript'>
    let ptag = document.getElementById('error');
    setTimeout(() => {
      ptag.innerHTML = 'Enter your credentials to login';
    }, 10000);
  </script>

</body>

</html>